<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duanxin.lsg.infrastructure.repository.mapper.UserMapper">

    <resultMap type="com.duanxin.lsg.infrastructure.repository.po.UserPO" id="TUserMap">
        <result property="id" column="ID" jdbcType="INTEGER"/>
        <result property="userName" column="USER_NAME" jdbcType="VARCHAR"/>
        <result property="password" column="PASSWORD" jdbcType="VARCHAR"/>
        <result property="phone" column="PHONE" jdbcType="VARCHAR"/>
        <result property="userImgUrl" column="USER_IMG_URL" jdbcType="VARCHAR"/>
        <result property="userAccountId" column="USER_ACCOUNT_ID" jdbcType="INTEGER"/>
        <result property="nickname" column="NICKNAME" jdbcType="VARCHAR"/>
        <result property="wxOpenid" column="WX_OPENID" jdbcType="VARCHAR"/>
        <result property="wxSessionKey" column="WX_SESSION_KEY" jdbcType="VARCHAR"/>
        <result property="status" column="STATUS" jdbcType="INTEGER"/>
        <result property="deleted" column="DELETED" jdbcType="INTEGER"/>
        <result property="cdate" column="CDATE" jdbcType="TIMESTAMP"/>
        <result property="creator" column="CREATOR" jdbcType="VARCHAR"/>
        <result property="edate" column="EDATE" jdbcType="TIMESTAMP"/>
        <result property="editor" column="EDITOR" jdbcType="VARCHAR"/>
        <result property="gender" column="GENDER" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="user">
        ID
        , USER_NAME, PASSWORD, PHONE, USER_IMG_URL, USER_ACCOUNT_ID, NICKNAME,
        WX_OPENID, WX_SESSION_KEY, STATUS, DELETED, CDATE, CREATOR, EDATE, EDITOR, GENDER
    </sql>
    <insert id="insert" parameterType="com.duanxin.lsg.infrastructure.repository.po.UserPO"
            useGeneratedKeys="true" keyProperty="id">
        insert into T_USER(USER_NAME, PASSWORD, PHONE, USER_IMG_URL, USER_ACCOUNT_ID, NICKNAME,
                           WX_OPENID, WX_SESSION_KEY, STATUS, DELETED, CDATE, CREATOR, EDATE, EDITOR, GENDER)
        values (#{user.userName}, #{user.password}, #{user.phone}, #{user.userImgUrl}, #{user.userAccountId},
                #{user.nickname}, #{user.wxOpenid}, #{user.wxSessionKey}, #{user.status}, #{user.deleted},
                #{user.cdate}, #{user.creator}, #{user.edate}, #{user.editor}, #{user.gender});
    </insert>
    <update id="updateWXSessionKey">
        update T_USER
        set WX_SESSION_KEY = #{user.wxSessionKey},
            EDATE          = #{user.edate},
            EDITOR         = #{user.editor}
        where ID = #{user.id};
    </update>

    <select id="getUserByOpenId" resultMap="TUserMap">
        select
        <include refid="user"/>
        from T_USER
        where WX_OPENID = #{openId} and DELETED = 0;
    </select>

    <select id="selectByPrimaryKey" resultMap="TUserMap">
        select
        <include refid="user"/>
        from T_USER
        where ID = #{id}
    </select>

    <select id="selectAll" resultMap="TUserMap">
        select
        <include refid="user"/>
        from T_USER
        order by CDATE;
    </select>

</mapper>