<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duanxin.lsg.infrastructure.repository.mapper.UserAccountMapper">

    <resultMap type="com.duanxin.lsg.infrastructure.repository.po.UserAccountPO" id="UserAccountMap">
        <result property="id" column="ID" jdbcType="INTEGER"/>
        <result property="accountSn" column="ACCOUNT_SN" jdbcType="VARCHAR"/>
        <result property="balance" column="BALANCE" jdbcType="NUMERIC"/>
        <result property="deleted" column="DELETED" jdbcType="INTEGER"/>
        <result property="cdate" column="CDATE" jdbcType="TIMESTAMP"/>
        <result property="creator" column="CREATOR" jdbcType="VARCHAR"/>
        <result property="edate" column="EDATE" jdbcType="TIMESTAMP"/>
        <result property="editor" column="EDITOR" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="userAccount">
        ID, ACCOUNT_SN, BALANCE, DELETED, CDATE, CREATOR, EDATE, EDITOR
    </sql>
    <insert id="insert" parameterType="com.duanxin.lsg.infrastructure.repository.po.UserAccountPO"
            useGeneratedKeys="true" keyProperty="id">
        insert into T_USER_ACCOUNT(ACCOUNT_SN, BALANCE, DELETED, CDATE, CREATOR, EDATE, EDITOR)
        values(#{userAccount.accountSn}, #{userAccount.balance}, #{userAccount.deleted}, #{userAccount.cdate},
        #{userAccount.creator}, #{userAccount.edate}, #{userAccount.editor})
    </insert>
    <select id="selectUserAccountById" resultMap="UserAccountMap">
        select
        <include refid="userAccount"/>
        from T_USER_ACCOUNT
        where ID = #{id} and DELETED = 0;
    </select>
    <select id="selectByUserId" resultMap="UserAccountMap">
        select
        TUA.ID, TUA.ACCOUNT_SN, TUA.BALANCE, TUA.DELETED, TUA.CDATE, TUA.CREATOR, TUA.EDATE, TUA.EDITOR
        from T_USER_ACCOUNT TUA
        inner join T_USER TU on TUA.ID = TU.USER_ACCOUNT_ID
        where TU.ID = #{userId} and TUA.DELETED = 0;
    </select>

</mapper>