<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duanxin.lsg.persistent.mapper.BookStockMapper">

    <resultMap type="com.duanxin.lsg.persistent.module.BookStock" id="bookStockMap">
        <result property="id" column="ID" jdbcType="INTEGER"/>
        <result property="bookId" column="BOOK_ID" jdbcType="INTEGER"/>
        <result property="bookLevelId" column="BOOK_LEVEL_ID" jdbcType="INTEGER"/>
        <result property="stock" column="STOCK" jdbcType="INTEGER"/>
        <result property="sale" column="SALE" jdbcType="INTEGER"/>
        <result property="cdate" column="CDATE" jdbcType="TIMESTAMP"/>
        <result property="creator" column="CREATOR" jdbcType="VARCHAR"/>
        <result property="edate" column="EDATE" jdbcType="TIMESTAMP"/>
        <result property="editor" column="EDITOR" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="bookStock">
        ID, BOOK_ID, BOOK_LEVEL_ID, STOCK, SALE, CDATE, CREATOR, EDATE, EDITOR
    </sql>

    <select id="selectByBookIdAndLevelIds" resultMap="bookStockMap">
        select <include refid="bookStock"/>
        from T_BOOK_STOCK
        where BOOK_ID = #{bookId} and
        STOCK >= 1 and
        BOOK_LEVEL_ID in
        <foreach collection="levelIds" item="levelId" open="(" separator="," close=")">
            #{levelId}
        </foreach>
    </select>

    <select id="selectByBookIdAndLevelId" resultMap="bookStockMap">
        select <include refid="bookStock"/>
        from T_BOOK_STOCK
        where BOOK_ID = #{bookId} and
        BOOK_LEVEL_ID = #{bookLevelId}
    </select>

</mapper>