<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duanxin.lsg.persistent.mapper.UserShoppingCartMapper">

    <resultMap type="com.duanxin.lsg.persistent.module.UserShoppingCart" id="userShoppingCartMap">
        <result property="id" column="ID" jdbcType="INTEGER"/>
        <result property="userId" column="USER_ID" jdbcType="INTEGER"/>
        <result property="bookId" column="BOOK_ID" jdbcType="INTEGER"/>
        <result property="bookName" column="BOOK_NAME" jdbcType="VARCHAR"/>
        <result property="bookPicUrl" column="BOOK_PIC_URL" jdbcType="VARCHAR"/>
        <result property="quantity" column="QUANTITY" jdbcType="INTEGER"/>
        <result property="bookLevelName" column="BOOK_LEVEL_NAME" jdbcType="VARCHAR"/>
        <result property="price" column="PRICE" jdbcType="NUMERIC"/>
        <result property="deleted" column="DELETED" jdbcType="INTEGER"/>
        <result property="cdate" column="CDATE" jdbcType="TIMESTAMP"/>
        <result property="creator" column="CREATOR" jdbcType="VARCHAR"/>
        <result property="edate" column="EDATE" jdbcType="TIMESTAMP"/>
        <result property="editor" column="EDITOR" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="userShoppingCart">
        ID, USER_ID, BOOK_ID, BOOK_NAME, BOOK_PIC_URL, QUANTITY, BOOK_LEVEL_NAME, PRICE,
        DELETED, CDATE, CREATOR, EDATE, EDITOR
    </sql>

    <insert id="insert" parameterType="com.duanxin.lsg.persistent.module.UserShoppingCart" useGeneratedKeys="true"
            keyProperty="id">
        insert into T_USER_SHOPPING_CART(USER_ID, BOOK_ID, BOOK_NAME, BOOK_PIC_URL,
        QUANTITY, BOOK_LEVEL_NAME, PRICE)
        values (#{cart.userId}, #{cart.bookId}, #{cart.bookName}, #{cart.bookPicUrl},
        #{cart.quantity}, #{cart.bookLevelName}, #{cart.price});
    </insert>

    <update id="updateCartQuantity" parameterType="map">
        update T_USER_SHOPPING_CART
        set QUANTITY = QUANTITY + #{quantity}
        where USER_ID = #{userId} and
         BOOK_LEVEL_NAME = #{levelName} and
         BOOK_ID = #{bookId}
    </update>

    <select id="selectCartsByUserId" resultMap="userShoppingCartMap">
        select
        <include refid="userShoppingCart"/>
        from T_USER_SHOPPING_CART
        where USER_ID = #{userId} and
        DELETED = 0;
    </select>

</mapper>